.navbar {
  width: 100%;
  padding: 12px 20px;
  background:  linear-gradient(90deg, #0077b6, #00b4d8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.logout-btn {
  background: #ff4d4d;
  border: none;
  padding: 8px 16px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #e60000;
}
